mmcv==1.7.0
git+https://github.com/huggingface/diffusers
timm==0.6.12
accelerate==0.26.0
tensorboard
tensorboardX
transformers==4.45.0
sentencepiece~=0.1.99
ftfy
beautifulsoup4
protobuf==3.20.2
gradio==4.1.1
yapf==0.40.1
opencv-python
bs4
einops
xformers==0.0.22.post4 --index-url https://download.pytorch.org/whl/cu118
optimum
peft
openai
came-pytorch
qwen-vl-utils